#---------------------------------------------------------
# Templates configuration file
# Values separated by ";"
# . value 1 : the label
# . value 2 : the file to be generated ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 3 : the project folder where to generate ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 4 : the template to use
# . value 5 : number of execution : "1" for "ONCE" for all entities, default is multiple executions ( executed for each entity )
#---------------------------------------------------------
jdbc.properties              ; jdbc.properties                    ; ${RES}                                           ; env/jdbc_properties.vm       ; 1
Maven POM                    ; pom.xml                            ;                                                  ; maven/pom_xml_txt.vm  ; 1
ListItem                     ; ListItem.java                      ; ${SRC}/${ROOT_PKG}/commons                       ; ListItem_java.vm               ; 1
ImplementationProvider       ; ImplementationProvider.java        ; ${SRC}/${ROOT_PKG}/commons                       ; ImplementationProvider_java.vm ; 1
Persistence service pattern  ; PersistenceServicePattern.java     ; ${SRC}/${ROOT_PKG}/persistence/commons           ; PersistenceServicePattern_java.vm     ; 1
Persistence service provider ; PersistenceServiceProvider.java    ; ${SRC}/${ROOT_PKG}/persistence/commons           ; PersistenceServiceProvider_java.vm    ; 1
Record class (bean)          ; ${BEANNAME}Record.java             ; ${SRC}/${ROOT_PKG}/data/record                   ; XxxRecord_java.vm
Record ListItem              ; ${BEANNAME}ListItem.java           ; ${SRC}/${ROOT_PKG}/data/record/listitem          ; XxxListItem_java.vm
Persistence interface        ; ${BEANNAME}Persistence.java        ; ${SRC}/${ROOT_PKG}/persistence                   ; XxxPersistence_java.vm
JDBC Service Pattern         ; PersistenceJdbcServicePattern.java ; ${SRC}/${ROOT_PKG}/persistence/commons           ; PersistenceJdbcServicePattern_java.vm ; 1
DataSourceProvider.java      ; DataSourceProvider.java            ; ${SRC}/${ROOT_PKG}/persistence/impl/jdbc/commons ; DataSourceProvider_java.vm ; 1
GenericJdbcDAO.java          ; GenericJdbcDAO.java                ; ${SRC}/${ROOT_PKG}/persistence/impl/jdbc/commons ; GenericJdbcDAO_java.vm     ; 1
Persistence JDBC impl        ; ${BEANNAME}PersistenceJdbc.java    ; ${SRC}/${ROOT_PKG}/persistence/impl/jdbc         ; XxxPersistenceJdbc_java.vm; *
LoggerLevel                  ; LoggerLevel.java                   ; ${SRC}/${ROOT_PKG}/web/rest/commons              ; LoggerLevel_java.vm ; 1
AbstractResourceController   ; AbstractResourceController.java    ; ${SRC}/${ROOT_PKG}/web/rest/commons              ; AbstractResourceController_java.vm ; 1
REST Resource Controller     ; ${BEANNAME}Resource.java           ; ${SRC}/${ROOT_PKG}/web/rest/jaxrs                ; XxxResource_java.vm ; *